.main {
    height: 89vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: linear-gradient( rgba(113, 2, 43, 0.685), rgba(107, 7, 77, 0.748) ), url(./../../../..//public/giphy1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    margin-right: 1rem;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(250, 0, 117, 0.616);
    height: 90%;
    width: 75%;
    background-color: rgba(86, 1, 48, 0.564);
}

.side {
    display: flex;
    justify-content: right;
    margin-right: 2%;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(250, 0, 117, 0.616);
    background-color: rgba(86, 1, 48, 0.441);
    height: 90%;
    width: 21.1%;
}

.text{
    width: 100%;
    height: 50%;
}

.picture {
    border: solid 1px;
    border-color: rgba(250, 0, 117, 0.616);
    border-radius: 10px;
    display: flex;
    height: 95%;
    width: 29%;
    background-image: url('/whatsap.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.picture2 {
    border: solid 1px;
    border-color: rgba(250, 0, 117, 0.616);
    border-radius: 10px;
    display: flex;
    height: 95%;
    width: 29%;
    background-image: url('/3.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.empt {
    height: 100%;
    width: 70%;
}

.posdiv {
    display: flex;
    height: 50%;
    width: 100%;
}