.main {
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 89vh;
    width: 100vw; 
    background-image: linear-gradient( rgba(113, 2, 43, 0.685), rgba(107, 7, 77, 0.748) ), url(./../../../../../public/giphy1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
    border-radius: 5px;
    border: solid 1px;
    border-color: rgba(250, 0, 117, 0.616);
    height: 25%;
    width: 8%;
    background-color: rgb(86, 1, 48);
}

.list {
    margin-left: 5%;
}



