.main {
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 89vh;
    width: 100vw; 
    background-image: linear-gradient( rgba(113, 2, 43, 0.685), rgba(107, 7, 77, 0.748) ), url(./../../../../../public/giphy1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
    border-radius: 5px;
    border: solid 1px;
    border-color: rgba(250, 0, 117, 0.616);
    height: 25%;
    width: 14%;
    background-color: rgb(86, 1, 48);
}

.list {
    margin-left: 5%;
}


@keyframes discord {
	0% {height:70px; width:250px;}
	 100% {height:500px;width:350px;}
}
@keyframes discord-c {
	0% {height:500px;width:350px;}
    100% {height:70px; width:250px;}
}

.discord {
    animation-name: discord-c;
	animation-duration: 2s;
	animation-play-state: pause;
	display: flex;
    justify-content: right;
    position: absolute;
    top: 116.5%;
    align-items: center;
    height:70px;
	width:250px;
}




