.toptopbar {
    font-family: monospace;
    height: auto;
    width: 100vw;
    background-color: rgb(129, 19, 79);
    display: flex;
    align-items: center;
    gap: 5rem;
    border-bottom: solid 1px;
    border-color: rgba(250, 0, 117, 0.616);
}


.useles{
    width: 50vw;
}

.name {
    border: solid 1px;
    border-color: rgb(250, 0, 117);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vh;
    height: 7vh;
    width: 16vw;
    border-radius: 10px;
    background-color: rgb(86, 1, 48);
}

.port {
    border-radius: 10px;
    font-size: large;
    font-family: monospace;
    background-color: rgb(86, 1, 48);
    height: 5vh;
    width: 5vw;
    border: solid 1px;
    border-color: rgb(250, 0, 117);
}

.abt {
    border-radius: 10px;
    font-size: large;
    font-family: monospace;
    background-color: rgb(86, 1, 48);
    height: 5vh;
    width: 5vw;
    border: solid 1px;
    border-color: rgb(250, 0, 117);
}

.cont {
    border-radius: 10px;
    font-size: large;
    font-family: monospace;
    background-color: rgb(86, 1, 48);
    height: 5vh;
    width: 5vw;
    border: solid 1px;
    border-color: rgba(250, 0, 117, 0.984);
}